# Logs
logs
**/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
release
release.zip

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
**/node_modules
**/bower_components

# Build directories
dist/
**/dist/
build/
**/build/
coverage/
**/coverage/
.out/
.next/
.nuxt/

# Compiled TypeScript files
*.tsbuildinfo

# Temporary files and folders
tmp/
**/tmp/
temp/
**/temp/
.cache/
**/.cache/
.parcel-cache/

# System files
.DS_Store
Thumbs.db
*.swp

# IDE directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
**/coverage/
.nyc_output/
jest-html-reporters-*.html
jest.cache/
jest.config.js
cypress/screenshots/
cypress/videos/

# Ignore ESLint, Prettier, and Husky cache/log files
**/.eslintcache
**/.prettiercache
.husky/_/

# Ignore Storybook build files
storybook-static/

# Ignore env files
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

​⬤
